body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: underline;
    color: inherit;
}

h1, h2, h3 {
    font-weight: bold;
    color: #155dfc;
}

code {
    font-family: Roboto Mono, monospace;
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}

